#root {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

div.background {
	background-color: rgb(36, 35, 41);
	z-index: 10;
	position: absolute;
	top: min(32px, 5dvw);
	left: min(32px, 5dvw);
	right: min(32px, 5dvw);
	bottom: min(32px, 5dvw);
	z-index: -1;
}

div.header {
	background: linear-gradient(
		305deg,
		rgba(112, 44, 175, 1) 0%,
		rgb(81, 32, 172) 25%,
		rgba(108, 5, 223, 1) 52%,
		rgba(87, 48, 156, 1) 76%,
		rgba(71, 31, 128, 1) 99%
	);
	width: 175px;
	height: 175px;
	padding: 0.5rem;
	margin: 1rem auto;
	margin-bottom: 4rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}

.album-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
	min-height: 0vh;
	padding: 0 2rem;
	transition: opacity 0.5s;
	opacity: 1;
}

.album-wrapper.loading {
	opacity: 0;
}

.album-wrapper > .album,
.album > img {
	flex: 0 1 auto;
	min-width: 75px;
	max-width: 25dvw;
}

.album > img {
	filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.15));
}

.score-info {
	font-size: 1.4em;
	font-weight: 600;
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

@media screen and (max-width: 450px) {
	div.header {
		width: 100px;
		height: 100px;
	}

	div.header > h1 {
		font-size: 2rem;
	}
}
